NEXT_PUBLIC_API_URL=https://mk-academy-dev.onrender.com/api
NEXT_PUBLIC_APP_URL=https://mk-academy-dev.pages.dev
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_USE_MOCK_DATA=false
CAPACITOR_EXPORT=false
