NEXT_PUBLIC_API_URL=http://api.mk-academia.uz/
NEXT_PUBLIC_NATIVE_API_URL=https://mk-academy-dev.onrender.com/api
NEXT_PUBLIC_APP_URL=https://www.mk-academia.uz
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_USE_MOCK_DATA=false
NEXT_PUBLIC_GITHUB_REPOSITORY=Moxirbek236/mk-academy-dev
NEXT_PUBLIC_MOBILE_RELEASE_TAG=frontend-mobile-latest
NEXT_PUBLIC_SITEMAP_INCLUDE_COURSES=false
CAPACITOR_EXPORT=false
