JWT_SECRET="mk_academy_2026_ultra_secure_hash_maqsud_dev_secret_key"
JWT_EXPIRES_IN="30d"
BCRYPT_SALT=10
FRONTEND_URL="https://mk-academy.netlify.app"
NEXT_PUBLIC_APP_ROLE="student"
DATABASE_URL="file:./dev.db"