# ─── Server ───────────────────────────────────────────────────────────────────
PORT=3232

# ─── Auth ─────────────────────────────────────────────────────────────────────
JWT_SECRET=mk_academy_2026_ultra_secure_hash_maqsud_dev_secret_key
JWT_EXPIRES_IN=30d
BCRYPT_SALT=10

# ─── Database (SQLite — Docker volume ichida saqlanadi) ───────────────────────
DATABASE_URL=file:./prisma/dev.db

# ─── Frontend ─────────────────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:3000
# Telegram Bot (backend bilan birga auto-start)
BOT_TOKEN=your_telegram_bot_token
MAIN_CHANNEL_ID=@your_main_channel_or_id
RESULTS_CHANNEL_ID=@your_results_channel_or_id
ADMIN_TELEGRAM_IDS=123456789
BOT_AUTO_START=true
BOT_HTTP_ENABLED=false


# Superadmin seeder
SUPERADMIN_PHONE=998999992000
SUPERADMIN_PASSWORD=mcacademy
SUPERADMIN_FULL_NAME=SUPERADMIN
SUPERADMIN_EMAIL=superadmin@example.com

